{% extends "::base.html.twig" %}

{% block title %}Edytuj zdjecie kontaktu{% endblock %}

{% block body %}
    <h1>Zmiana zdjecia</h1>

    <div class="col-xs-3"><img src="/photos/{{photo}}" width="200" height="200"></div>
    <div class="col-xs-6">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}    
            <div class="form-group">
                {{ form_label(form.photo) }}
                {{ form_widget(form.photo) }}
                <p class="help-block">Akceptowalne formaty to jpg lub png (rozmiar pliku < 1MB)</p>
                {{ form_errors(form.photo) }}
            </div>
                {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
