{% extends "::base.html.twig" %}

{% block title %}Edytuj Kontakt{% endblock %}

{% block body %}
    <h1>Modyfikacja kontaktu</h1>

    <div class="col-xs-3"><img src="/photos/{{person.photo}}" width="200" height="200"></div>
    <div class="col-xs-6">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'class' : 'form-control' } }) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.surname) }}
                {{ form_widget(form.surname, { 'attr': { 'class' : 'form-control' } }) }}
                {{ form_errors(form.surname) }}
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': { 'class' : 'form-control', 'rows' : '4' } }) }}
                {{ form_errors(form.description) }}
            </div>
            {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}