{% extends "::base.html.twig" %}

{% block title %}Edycja adressu{% endblock %}

{% block body %}
    <h1>Edycja Adresu dla {{person.surname}} {{ person.name }}</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class' : 'col-xs-7'} }) }}
    <div class="form-group">
        {{ form_label(form.city) }}
        {{ form_widget(form.city, { 'attr': { 'class' : 'form-control' } }) }}
        {{ form_errors(form.city) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.street) }}
        {{ form_widget(form.street, { 'attr': { 'class' : 'form-control' } }) }}
        {{ form_errors(form.street) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.houseNumber) }}
        {{ form_widget(form.houseNumber, { 'attr': { 'class' : 'form-control'} }) }}
        {{ form_errors(form.houseNumber) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.apartmentNumber) }}
        {{ form_widget(form.apartmentNumber, { 'attr': { 'class' : 'form-control'} }) }}
    </div>
    
        {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success'} }) }}
{{ form_end(form) }}

{% endblock %}